@page
@model GregsCV_Website.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
    Layout = "~/Pages/Shared/_LayoutOtherPages.cshtml";
}



<div class="parallax">
    <div class="text">ABOUT ME</div>
</div>


<div class="paralax-content">
    <h1>Who I am:</h1>
    I am <b>Greg</b> and I am <b>24</b> years old.
    <br />I was born and raised in <b>Cape Town, South Africa</b> and am currently still living there.
    <br />I studied <b>software and application development</b> at the <b>IIE Varsity College</b>.
</div>


<div class="parallax2"></div>

<div class="paralax-content">
    <h1>More Info:</h1>

    <br />More Information will be coming soon.
    <br />Please keep scrolling down the page though.
</div>

<div class="parallax3"></div>


<div class="paralax-content">
    <h1>Social Media Accounts</h1>
    Reach out to me on any of my few <b>social media</b> accounts.
        <br />These are a few links you can use:

        <div class="social-media">
            <a target="_blank" href="#" style="--i:4;"><i class='bx bxl-facebook'></i></a>
            <a target="_blank" href="https://github.com/GP123654" style="--i:5;"><i class="bx bxl-github"></i></a>
            <a target="_blank" href="#" style="--i:6;"><i class="bx bxl-gmail"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/gregory-postings-0a6540267" style="--i:7;"><i class="bx bxl-linkedin"></i></a>
        </div>

</div>



<div class="parallax4"></div>




<div class="paralax-content" style="margin-bottom:100px;">
    <h1>Thank you</h1>
    Thank you <b>so much</b> for learning more about me.
    <br />Hopefully we can get to know each other more in the future.
    <br />Feel free to <b>contact me</b> or anyone who knows me to find out even more.
    <br />I look forward to hearing back from you.


</div>
