@page
@model GregsCV_Website.Pages.AchievementsModel

@{
    ViewData["Title"] = "Achievements";
    Layout = "~/Pages/Shared/_LayoutOtherPages.cshtml";
}


<!-- Header Area -->

<div>
    <div class="achievements-header">
        <h2 class="header-text">Achievements</h2>
    </div>
</div>




<!-- Download Card -->

<div style="margin-top: 60px; margin-bottom: 100px;">

    <h2 class="heading">Academic <span>Achievements</span></h2>

    <div class="container2">

        <div class="card">
            <div class="front">
                <img src="/images/HigherCertificate.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Higher Certificate.</h2>
                <a href="~/documents/Higher Certificate.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/Bachelors Degree.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Bachelors Degree.</h2>
                <a href="~/documents/Bachelors of computer and information sciences in application development.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/TranscriptYear1-3.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view all my Results / Transcript.</h2>
                <a href="~/documents/All Marks 1st to 3rd Year (I think dates are wrong but marks and modules correct).pdf" class="btn2" download>Download</a>
            </div>
        </div>

    </div>

</div>





<!-- Download Card -->

<div style="margin-top: 60px; margin-bottom: 100px;">

    <h2 class="heading">Top Student <span>Awards</span></h2>

    <div class="container2">

        <div class="card">
            <div class="front">
                <img src="/images/TopStudentHigherCertificate.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Higher Certificate Top Student Award.</h2>
                <a href="~/documents/Higher Certificate Top Student.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/TopStudentYear2.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Bachelors Degree Year 2 Top Student Award.</h2>
                <a href="~/documents/Top Student Year 2.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/Code.jpg" />
            </div>
            <div class="back">
                <h2 class="name2">Coming Soon Maybe.</h2>
                <a href="~/documents/All Marks 1st to 3rd Year (I think dates are wrong but marks and modules correct).pdf" class="btn2" download>Download</a>
            </div>
        </div>

    </div>

</div>



<!-- Download Card -->

<div style="margin-top: 60px; margin-bottom: 100px;">

    <h2 class="heading">Game Development <span>and C++</span></h2>

    <div class="container2">

        <div class="card">
            <div class="front">
                <img src="/images/Coursera Unreal Engine Course.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Coursera Certificate.</h2>
                <a href="~/documents/Greg Specialization certificate - C++ and UE -Coursera S6T2XL6C7UMH.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/UdemyUltimateGameDevCourse.jpg" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Udemy Certificate.</h2>
                <a href="~/documents/UdemyUltimateGameDevCourse.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/SoloLearn C++ Certificate.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my SoloLearn Certificate.</h2>
                <a href="~/documents/Greg SoloLearn C++ Intermediate.pdf" class="btn2" download>Download</a>
            </div>
        </div>

    </div>

</div>





<!-- Download Card -->

<div style="margin-top: 60px; margin-bottom: 100px;">

    <h2 class="heading">Certifications and <span>Badges</span></h2>

    <div class="container2">

        <div class="card">
            <div class="front">
                <img src="/images/microsoft-certified-azure-ai-fundamentals.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Azure AI Fundementals Badge / Certification</h2>
                <a href="/images/microsoft-certified-azure-ai-fundamentals.PNG" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/Oracle OCI Foundations.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Oracle OCI Foundatations Certification</h2>
                <a href="~/documents/FoundationsAssociate_OCI_eCertificate.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/OCI Support.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Oracle OCI Support Badge.</h2>
                <a href="/images/OCI Support.PNG" class="btn2" download>Download</a>
            </div>
        </div>

    </div>

</div>





<!-- Download Card -->

<div style="margin-top: 60px; margin-bottom: 100px;">

    <h2 class="heading">General Learning <span>and Certificates</span></h2>

    <div class="container2">

        <div class="card">
            <div class="front">
                <img src="/images/M001_proof_of_completion.jpg" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my MongoDB Basics Certificate.</h2>
                <a href="/images/M001_proof_of_completion.jpg" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/Google Africa Developer Android Certificate.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my Africa Developer Mobile Certificate.</h2>
                <a href="~/documents/GADS Certificate - Gregory Postings.pdf" class="btn2" download>Download</a>
            </div>
        </div>

        <div class="card">
            <div class="front">
                <img src="/images/OneMonthJavaScript.PNG" />
            </div>
            <div class="back">
                <h2 class="name2">Download and view my One Month Javascript Certificate.</h2>
                <a href="~/documents/One Month Learn JavaScript Certificate.pdf" class="btn2" download>Download</a>
            </div>
        </div>

    </div>

</div>

