@page
@model GregsCV_Website.Pages.ComingSoonModel

@{
    ViewData["Title"] = "Coming Soon";
    Layout = "~/Pages/Shared/_LayoutOtherPages.cshtml";
}


<style>

    <style >
    /* Set height to 100% for body and html to enable the background image to cover the whole page: */
    .body, html {
        height: 100%;
        margin: 0;
    }


    .container2 {
        width: 100%;
        height: 100vh;
        background-image: url("images/Nice Picture.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 30px;
        font-family: "Courier New", Courier, monospace;
    }


    /* Position text in the top-left corner */
    .topleft {
        position: absolute;
        top: 80px;
        left: 30px;
    }

    /* Position text in the bottom-left corner */
    .bottomleft {
        position: absolute;
        bottom: 5%;
        left: 16px;
    }

    /* Position text in the middle */
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    /* Style the <hr> element */
    hr {
        margin: auto;
        width: 50%;
    }
</style>

<div class="body" style="margin-bottom:100px">
    <div class="container2">
        <div class="topleft">
        </div>
        <div class="middle">
            <h1 style="font-size:30px">COMING SOON</h1>
            <hr style="height:2px;">
            <p id="demo" style="font-size:25px"></p>
        </div>
        <div class="bottomleft">
            <p style="font-size: 22px;">Available on the 1 Jan 2024 or sooner</p>
        </div>
    </div>
</div>



<script>

    // Set the date we're counting down to
    var countDownDate = new Date("Dec 31, 2023 00:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);

</script>
        