@page
@model GregsCV_Website.Pages.Shared.Game1DescriptionModel
@{
    ViewData["Title"] = "Game 1";
    Layout = "~/Pages/Shared/_LayoutOtherPages.cshtml";
}



<!-- Header Area -->

<div>
    <div class="Game1-header">
        <h2 class="header-text">Game Development Project 1</h2>
    </div>
</div>


<!-- Contents Section -->

<section2 class="project-overview">

    <div class="project-overview-content">

        <h2 style="text-align:center;" class="heading">Contents of <span>page</span></h2>
        <p1>
            Use the cards below to jump to different sections of the page.
        </p1>


    </div>

</section2>


<!-- Information cards -->

<div style="margin-top: 40px">
    <div class="container">
        <div class="box">
            <h2 class="name">Project Overview</h2>
            <a href="#project-overview" class="info">Go to Section to Learn More</a>
            <div class="circle"></div>
            <img src="/images/Project Overview 2.jpg" class="product" />
        </div>

        <div class="box">
            <h2 class="name">Technologies Used</h2>
            <a href="#tech-used" class="info">Go to Section to Learn More</a>
            <div class="circle"></div>
            <img src="/images/Technologies.jpg" class="product" />
        </div>

        <div class="box">
            <h2 class="name">Conclusion/Downloads</h2>
            <a href="#con-down" class="info">Go to Section to Learn More</a>
            <div class="circle"></div>
            <img src="/images/Conclusion.jpg" class="product" />
        </div>
    </div>
</div>


<!-- Page break image -->

<div style="margin-top:160px;">
    <div class="Game1-header2">
    </div>
</div>


<!-- Project Overview Section -->

<section class="project-overview" id="project-overview">

    <div class="project-overview-content">

        <h1 style="text-align:center; font-size:4.5rem; margin-bottom:50px;">Project <span>overview</span></h1>

        <h2 class="heading">What I had <span>to do</span></h2><!--Description of project-->
        <p>
            I did this project by myself in my spare time for fun. I enjoyed creating it and learning so many new things.
            I cannot wait till I have more time so that I can improve it or even create another game that is even better.
        </p>

        <h2 class="heading">What I <span>did</span></h2>
        <p>
            I started off by buying a Udemy course by Stephen Ulibarri where I learnt many things. Some of those things include:
            coding in C++ for Unreal Engine, basic AI, animation programming, UI programming and gameplay programming etc.
            Once I completed the course I then added more things to it and adjusted the project to how I wanted it to be.
            I used Gimp to do some image editing and to make some UI elements.  I also used a video editor which was Capcut 
            to do the opening titles and credits. I also watched some YouTube videos for a few things.
            <br /><br />
            I used Visual Studio and C++ to do most of the code logic for the game and used Unreal Engine 4 and blueprints to put all of it
            together.

        </p>

        <h2 class="heading">Potential problems and <span>errors</span></h2>
        <p>
            These are a few problems that might occur:
            <ol style="font-size:1.4rem; margin-right:20px;">
                <li>This game was made using Unreal Engine 4.27 so to run it you would need Visual Studio and the Unreal Engine 4</li>
                <li>But if you do not want to do that there is an exe that you can install and you can play it.</li>
            </ol>

        </p>

    </div>

</section>




<!-- Technologies Used -->

<div class="tech-container" id="tech-used">

    <div style="text-align:center; color:white; top:5%; font-size:30px;">
        <h1>These are some of the things I used:</h1>
    </div>


    <!-- Might only need one but can leave like this for now otherwise can just put them all in one list -->
    <ul class="technologies-used">
        <li><i class='bx bxl-blender'></i></li>
        <li><i class='bx bxl-visual-studio'></i></li>
        <li><i class='bx bxl-youtube'></i></li>
        <li><i class='bx bxl-c-plus-plus'></i></li>
    </ul>

</div>


<!-- Image Slider -->

<section2>

    <div class="main-scroll-div">
        <div>
            <button class="icon" onclick="scrollL()"><i class='bx bx-chevrons-left'></i></button>
        </div>
        <div class="cover">
            <div class="scroll-images">
                <div class="child"><img class="child-img" src="~/images/Code.jpg" alt="code" /></div>
                <div class="child"><img class="child-img" src="~/images/TableMountain1.jpg" alt="code" /></div>
                <div class="child"><img class="child-img" src="~/images/Project1.jpg" alt="code" /></div>
                <div class="child"><img class="child-img" src="~/images/Profile.jpg" alt="code" /></div>
                <div class="child"><img class="child-img" src="~/images/SocialMedia.jpg" alt="code" /></div>
                <div class="child"><img class="child-img" src="~/images/TableMountain2.jpg" alt="code" /></div>
            </div>
        </div>
        <div>
            <button class="icon" onclick="scrollR()"><i class='bx bx-chevrons-right'></i></button>
        </div>
    </div>

</section2>


<!-- Conclusion And Download Section -->

<section2 class="project-overview" id="con-down">

    <div class="project-overview-content">

        <h2 style="text-align:center;" class="heading">Conclusion and <span>downloads</span></h2>
        <p1>
            Thank you for your interest in this project and learning more about it.
            If this project is something you would be interested in seeing please click on the button within the card below.
            Then you will be taken to a google drive where you can download the source code and a final exe file that you can download and play without the use of the Unreal editor.
        </p1>


    </div>

</section2>


<!-- Download Card -->

<div style="margin-top: 30px; margin-bottom: 100px;">
    <div class="container2">

        <div class="card">
            <div class="front">
                <img src="/images/Code.jpg" />
            </div>
            <div class="back">
                <h2 class="name2">Download this game that I made.</h2>
                <a href="#" class="btn2">Download</a>
            </div>
        </div>

    </div>
</div>


